<?xml version="1.0" encoding="UTF-8"?>
<!-- 스프링 설정 파일 -->
<!-- namespace aop 추가  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- bean 클래스 자체에 설정되어있는 어노테이션 이용한다. -->
	<!-- <context:annotation-config /> -->
	
	<!-- 지정된 package 내의 클래스들의 어노테이션을 분석하도록 설정한다. -->
	<context:component-scan base-package="kr.co.spring.component" />
	<context:component-scan base-package="kr.co.spring.advisor" />


	<!-- Advisor 클래스에 설정된 어노테이션을 분석하여 AOP 를 세팅한다. -->
	<aop:aspectj-autoproxy/>
	
</beans>