<?xml version="1.0" encoding="UTF-8"?>
<!-- 스프링 설정 파일 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 이 bean 호출될 때, 매개변수 없는 생성자가 호출된다. -->
	<bean class="kr.co.spring.DependencyInjection.beans.TestBean"
		id="testBean" lazy-init="true" />

	<!-- 생성자를 통한 의존주입 -->
	<!-- 이 bean 호출될 때, 매개변수가 1 개인 생성자가 호출된다. -->
	<!-- 매개변수가 1 개인 생성자가 여러개라면 ? (자료형은 다르고) -->
	<!-- 우선순위 : String > double > int -->
	<!-- 따라서 여기에서는 아래 설정된 생성자 매개값 11.11 은 타입 지정이 안돼있으므로 String 으로 들어간다 .! -->
	<bean class="kr.co.spring.DependencyInjection.beans.TestBean"
		id="testBean2" lazy-init="true">
		<constructor-arg value="200" type="int" />
	</bean>

	<bean class="kr.co.spring.DependencyInjection.beans.TestBean"
		id="testBean3" lazy-init="true">
		<constructor-arg value="11.11" />
	</bean>

	<bean class="kr.co.spring.DependencyInjection.beans.TestBean"
		id="testBean4" lazy-init="true">
		<constructor-arg value="hello Spring !" />
	</bean>

	<!-- 이 bean 호출될 때, 매개변수가 3 개인 생성자가 호출된다. -->
	<bean class="kr.co.spring.DependencyInjection.beans.TestBean"
		id="testBean5" lazy-init="true">
		<constructor-arg value="200" type="int" />
		<constructor-arg value="11.11" type="double" />
		<!-- 값의 타입이 클래스 일때는 패키지를 포함하여 클래스 타입 입력 -->
		<constructor-arg value="hello Spring !"
			type="java.lang.String" />
	</bean>

	<!-- 생성자의 매개변수와 자료형 순서가 다르게 의존주입 했을 때 -->
	<bean class="kr.co.spring.DependencyInjection.beans.TestBean"
		id="testBean6" lazy-init="true">
		<constructor-arg value="hello Spring !"
			type="java.lang.String" />
		<constructor-arg value="11.11" type="double" />
		<constructor-arg value="200" type="int" />
	</bean>

	<!-- 자료형이 같은 생성자 매개변수가 복수일 때, 순서를 지정하기 (index 속성) -->
	<bean class="kr.co.spring.DependencyInjection.beans.TestBean"
		id="testBean7" lazy-init="true">
		<constructor-arg value="10" type="int" index="2" />
		<constructor-arg value="20" type="int" index="1" />
		<constructor-arg value="5" type="int" index="0" />
	</bean>


	<!-- 생성자 매개변수의 자료형이 객체(클래스) 일 때 -->
	<bean class="kr.co.spring.DependencyInjection.beans.TestBean2"
		id="testBean8" lazy-init="true">
		<!--type="class" index 넣을 수 있다 -->
		<!-- 매개변수에 들어갈 값이 클래스 객체이므로, 해당 클래스의 bean 객체 생성하여 주입 -->
		<constructor-arg>
			<bean class="kr.co.spring.DependencyInjection.beans.DataBean" />
		</constructor-arg>
		<constructor-arg>
			<bean class="kr.co.spring.DependencyInjection.beans.DataBean" />
		</constructor-arg>
	</bean>

	<!-- 이미 정의된 bean 객체를 생성자를 통해 주입할 때 -->
	<!-- scope = "prototype" : bean 호출시마다(의존 주입될 때마다) 객체 생성 -->
	<bean id="dataBean"
		class="kr.co.spring.DependencyInjection.beans.DataBean"
		scope="prototype" />

	<bean class="kr.co.spring.DependencyInjection.beans.TestBean2"
		id="testBean9" lazy-init="true">
		<constructor-arg ref="dataBean" />
		<constructor-arg ref="dataBean" />
	</bean>

</beans>