<?xml version="1.0" encoding="UTF-8"?>
<!-- 스프링 설정 파일  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- HelloWorldEng 클래스의 Bean 객체 생성  -->
<!-- 	<bean id="helloWorldEng" class="kr.co.spring.XmlTutorial.beans.HelloWorldEng"/> -->
	
	<!-- HelloWorldKo 클래스의 Bean 객체 생성  -->
<!-- 	<bean id="helloWorldKo" class="kr.co.spring.XmlTutorial.beans.HelloWorldKo"/> -->

	<bean id="testBean1" class="kr.co.spring.XmlTutorial.beans.TestBean"/>
</beans>